
<div *ngIf="rfbEventAttendance">
    <h2><span>Event Attendance</span> {{rfbEventAttendance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Attendance Date</span></dt>
        <dd>
            <span>{{rfbEventAttendance.attendanceDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Event</span></dt>
        <dd>
            <div *ngIf="rfbEventAttendance.rfbEventDTO.id">
                <a [routerLink]="['/rfb-event', rfbEventAttendance.rfbEventDTO.rfbLocationDTO.id]">
                    {{rfbEventAttendance.rfbEventDTO.rfbLocationDTO.locationName}}
                </a>
            </div>
        </dd>
        <dt><span>Runner</span></dt>
        <dd>
            <div *ngIf="rfbEventAttendance.rfbUserDTO.id">
                <a [routerLink]="['/rfb-user', rfbEventAttendance.rfbUserDTO.id]">
                    {{rfbEventAttendance.rfbUserDTO.username}}
                </a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rfb-event-attendance/'+ rfbEventAttendance.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
