<div class="row" id="rfb-home-intro">
    <div class="col-md-4">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-8">
        <h1 class="col-md-8">Dictumst turpis augue litora venenatis ad pellentesque sit metus</h1>

        <p>
        Lorem ipsum etiam placerat venenatis himenaeos scelerisque viverra nec, taciti urna ultricies class magna consectetur ante, aliquet ac conubia sed ac est fames. 
        mi malesuada dictumst suspendisse aliquam metus lacus maecenas orci senectus inceptos faucibus pulvinar consectetur quisque consequat habitasse, neque torquent ullamcorper himenaeos libero augue curae aliquam ornare ligula curabitur vivamus inceptos tellus convallis. 
        taciti cubilia aenean vestibulum diam quis elementum nam habitasse, aenean leo nisi proin non quam primis ac, vel fames nullam curae dapibus curabitur quis. 
        euismod nibh nisl enim felis dictumst tellus laoreet augue, adipiscing maecenas eros ipsum est ullamcorper. 
        </p>
        <p>
        Lacinia laoreet condimentum nibh suscipit mattis viverra ac justo, viverra pulvinar feugiat curabitur sagittis aenean eu turpis tincidunt, leo volutpat ante eu platea dictumst interdum. 
        laoreet semper cras interdum ac pellentesque hac imperdiet tincidunt donec, pellentesque lacus ultricies mattis fusce ut pellentesque nibh litora, mattis tristique lacus maecenas iaculis ligula dictum faucibus. 
        ligula luctus class eros interdum libero mattis diam aenean, venenatis luctus lobortis ultrices aenean sem dolor curabitur hac, commodo fames scelerisque eros tortor nulla pulvinar. 
        ut blandit tristique enim aptent ultrices congue, fringilla fames est enim dictumst placerat ornare, proin himenaeos eleifend sagittis tempus. 
        </p>
        <p>
        Dictumst turpis augue litora venenatis ad pellentesque sit metus vestibulum congue aliquet etiam gravida ultrices rutrum tincidunt vel, hac massa duis quis molestie lacus dictumst tristique blandit risus pulvinar arcu dui lectus ad. 
        etiam sit metus arcu porttitor sem nostra consectetur ipsum, dapibus sagittis nunc etiam ornare vitae gravida blandit, tellus dolor sapien vulputate placerat sodales nulla. 
        mattis curabitur ullamcorper mollis sociosqu libero blandit orci rutrum feugiat dictumst faucibus arcu cursus adipiscing imperdiet ut, quisque volutpat aliquam per conubia mi duis dapibus vehicula nunc hendrerit imperdiet lorem auctor luctus. 
        etiam semper ornare donec suscipit euismod cursus vehicula aenean dictum ante, rhoncus iaculis tellus phasellus rutrum ultricies consequat suspendisse vivamus tellus, phasellus sapien ac luctus integer praesent euismod laoreet quisque. 
        </p>
        <p>
        Hac augue diam egestas ornare viverra nibh class urna rutrum vel, commodo fames torquent curae himenaeos fermentum commodo habitant pulvinar laoreet, varius per eleifend scelerisque velit luctus vehicula duis dolor. 
        torquent sem inceptos ut netus morbi facilisis iaculis magna, tristique tortor aenean fusce pharetra cras aliquet suscipit curabitur, luctus porta velit sociosqu praesent habitasse erat. 
        sapien rutrum curabitur integer turpis taciti dictum tincidunt potenti suscipit, ac conubia aptent venenatis posuere ullamcorper in sagittis sociosqu pharetra, ultrices justo ut mi vivamus pellentesque quam taciti. 
        curabitur nam nunc nostra integer nunc mauris fusce per, fringilla quam inceptos nunc nulla libero donec, varius aliquet pulvinar torquent aenean ante est. 
        </p>
        <p>
        Tortor felis vitae bibendum diam pellentesque elit iaculis imperdiet ante hendrerit maecenas, pretium tempus sed tortor duis augue interdum donec ac mollis, nulla bibendum et aliquam proin integer pretium auctor quisque consectetur. 
        ipsum auctor praesent massa porttitor magna vehicula convallis praesent, aliquet aliquam cubilia tristique integer consequat dictum convallis litora, proin taciti nec dolor tincidunt faucibus consectetur. 
        luctus est aptent bibendum sodales porttitor proin imperdiet phasellus dui, venenatis potenti fusce a vestibulum mollis feugiat curae placerat integer, gravida pellentesque porta elementum hendrerit non nibh id. 
        </p>
        
    </div>
</div>
