<div class="row" id="rfb-home-intro">
    <div class="col-md-4">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-8">
        <h1 class="col-md-8">Dictumst turpis augue litora venenatis ad pellentesque sit metus</h1>

        <p>
        Lorem ipsum etiam placerat venenatis himenaeos scelerisque viverra nec, taciti urna ultricies class magna consectetur ante, aliquet ac conubia sed ac est fames. 
        mi malesuada dictumst suspendisse aliquam metus lacus maecenas orci senectus inceptos faucibus pulvinar consectetur quisque consequat habitasse, neque torquent ullamcorper himenaeos libero augue curae aliquam ornare ligula curabitur vivamus inceptos tellus convallis. 
        taciti cubilia aenean vestibulum diam quis elementum nam habitasse, aenean leo nisi proin non quam primis ac, vel fames nullam curae dapibus curabitur quis. 
        euismod nibh nisl enim felis dictumst tellus laoreet augue, adipiscing maecenas eros ipsum est ullamcorper. 
        </p>
        <p>
        Lacinia laoreet condimentum nibh suscipit mattis viverra ac justo, viverra pulvinar feugiat curabitur sagittis aenean eu turpis tincidunt, leo volutpat ante eu platea dictumst interdum. 
        laoreet semper cras interdum ac pellentesque hac imperdiet tincidunt donec, pellentesque lacus ultricies mattis fusce ut pellentesque nibh litora, mattis tristique lacus maecenas iaculis ligula dictum faucibus. 
        ligula luctus class eros interdum libero mattis diam aenean, venenatis luctus lobortis ultrices aenean sem dolor curabitur hac, commodo fames scelerisque eros tortor nulla pulvinar. 
        ut blandit tristique enim aptent ultrices congue, fringilla fames est enim dictumst placerat ornare, proin himenaeos eleifend sagittis tempus. 
        </p>
        <div *jhiHasAnyAuthority="'ROLE_ORGANIZER'" class="card col-md-12">
            <div *ngIf="todaysEvent">
                <p><strong>Event Date:</strong> {{todaysEvent.eventDate}}</p>
                <p><strong>Event Location:</strong> {{todaysEvent.rfbLocationDTO.locationName}}</p>
                <p><strong>Event Code:</strong> {{todaysEvent.eventCode}}</p>
            </div>
            <p *ngIf="!todaysEvent">No events today! </p>
        </div>
        <br/>
        <div *jhiHasAnyAuthority="'ROLE_RUNNER'" class="card col-md-12">
            <div *ngIf="checkedIn" class="alert alert-success" role="alert" style="padding-top: 10px;">
                You are checked in for today's run. Thank you!
            </div>
            <div *ngIf="!checkedIn" class="card-body">
                <h4>Check-in for today's run!</h4>
                <p>Please use the form to check in to today's event. If you don't know the code please ask your organizer. </p>
                <div *ngIf="errors.invalidEventCode" class="alert alert-danger" role="alert">
                    {{errors.invalidEventCode}}
                </div>
                <form name="checkinForm" role="form" novalidate (ngSubmit)="checkIn()" #checkinForm="ngForm">
                    <div class="modal-body">
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group">
                            <label class="form-control-label" for="field_location">Location</label>
                            <select class="form-control" id="field_location" name="location" [(ngModel)]="model.location" #location="ngModel" required>
                                <option [ngValue]="null"></option>
                                <option [ngValue]="location.id" *ngFor="let location of locations">{{location.locationName}}</option>
                            </select>
                            <small *ngIf="!model.location"><a href="/#/settings">SET HOME LOCATION</a></small>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_eventCode">Event Code</label>
                            <input type="text" class="form-control" name="eventCode" id="field_eventCode" [(ngModel)]="model.eventCode" #eventCode="ngModel" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" [disabled]="checkinForm.form.invalid || isSaving" class="btn btn-primary">
                            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
